DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_example
NODE_ENV=development
PORT=3000
LOG_LEVEL=info

# OpenTelemetry
OTEL_SERVICE_NAME=nest-be-example
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
